In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Users/billy/anaconda3/lib/python3.11/site-packages (8.3.0)

In [2]:
import mysql.connector as connector

In [5]:
config = {
    'user': 'admin',
    'password': 'admin',
    'db': 'little_lemon_db'
}

connection = connector.connect(**config)

In [6]:
cursor = connection.cursor()

# Available tables

In [7]:
show_tables_query = "SHOW tables"
cursor.execute(show_tables_query)

In [8]:
results = cursor.fetchall()

In [12]:
print('Current tables: ')
for table in results:
    print(f'- {table[0]}')

Current tables:
- address
- booking
- customer
- customer_order
- delivery
- menu
- menu_item
- order_view
- staff

# Customer with total cost greater than $50

In [15]:
select_query = '''
SELECT 
	CONCAT(first_name, ' ', last_name) as full_name,
    contact_number,
    total_cost
FROM customer
JOIN customer_order USING(customer_id)
WHERE total_cost > 50
'''
cursor.execute(select_query)

In [16]:
results = cursor.fetchall()

In [17]:
for customer in results:
    print(f'Customer: {customer[0]}')
    print(f'Contact number: {customer[1]}')
    print(f'Total Cost: {customer[2]}')
    print('')

Customer: John Doe
Contact number: 9051234567
Total Cost: 59.98

Customer: Michael Johnson
Contact number: 5193456789
Total Cost: 77.97

Customer: Jane Smith
Contact number: 4162345678
Total Cost: 51.98